body {
  text-align: center;
}

.piano {
  border: 8px solid black;
  display: inline-flex;
}

.black-keys {
  display: flex;
  position: absolute;
}

#cs1 {
  margin-left: 35px;
}

#ds1 {
  margin-left: 20px;
}

#fs1 {
  margin-left: 70px;
}

#gs1 {
  margin-left: 20px;
}

#as1 {
  margin-left: 20px;
}

#cs2 {
  margin-left: 70px;
}

#ds2 {
  margin-left: 20px;
}

#fs2 {
  margin-left: 70px;
}

#gs2 {
  margin-left: 20px;
}

#as2 {
  margin-left: 20px;
}

.mobile-message {
  display: none;
}

@media only screen and (max-width: 700px) {
  .piano {
    display: none;
  }

  .mobile-message {
    display: block;
  }
}
