{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "groupon"
  ],
  "plugins": ["html"],
  "rules": {
    "node/no-unsupported-features/node-builtins": 0
  },
  "settings": {
    "html/indent": "+2",
    "html/report-bad-indent": "error"
  }
}
