@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap);
:root {
  --color-blue: #1d262f;
  --color-sand: #f9e0a7;
  --color-coral: #ff5370;
  --color-orange: #ffa500;
  --color-sea: #76b6c4;
  --color-light-blue: #def3f6;
  --dark-color: var(--color-blue);
  --light-color: var(--color-sand);
  --dark-mode-cat: url(sand-cat.svg);
  --light-mode-cat: url(ocean-cat.svg);
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  font-weight: 200;
  background-color: var(--dark-color);
  color: var(--light-color);
  max-width: 1008px;
}

code {
  border: 1px solid var(--color-sea);
  border-radius: 4px;
}

.hero-image {
  margin-top: 40px;
  border-radius: 50%;
  height: 300px;
  box-shadow: 0 0 20px 4px var(--color-coral);
}

project-card {
  margin: 6px;
}

.card {
  cursor: pointer;
  background: linear-gradient(to right, var(--color-coral), var(--color-orange))
    border-box;
  border: 12px solid transparent;
  border-radius: 4px;
  outline: none;
  color: var(--light-color);
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  overflow-y: hidden;
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  position: relative;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.card:focus {
  background: var(--color-sea);
}

.title-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.emoji {
  font-size: 70px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 2px 12px 0;
  height: 30px;
}

.contact {
  display: flex;
  margin-top: 40px;
  width: 200px;
  justify-content: space-between;
}

a svg {
  height: 40px;
  width: 40px;
  fill: var(--light-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.emoji-sprinkle-button {
  background: var(--light-color);
  color: var(--dark-color);
  display: inline-block;
  padding: 8px;
  border: 4px solid var(--light-color);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.emoji-sprinkle {
  z-index: 1;
}

.download-text {
  border: 4px solid var(--light-color);
  border-radius: 4px;
  font-weight: bold;
  padding: 8px;
  margin-top: 18px;
  width: fit-content;
}

.download-count {
  display: inline-block;
  margin-left: 4px;
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.badge-list > li {
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 4px;
  margin-right: 8px;
  padding: 2px 6px;
}

.badge-list > li:first-child {
  color: var(--light-color);
  background-color: var(--dark-color);
  border-radius: 4px;
  margin-right: 8px;
  padding: 2px 6px;
}

.project-page {
  padding: 24px 100px;
}

.project-page .home-link {
  font-size: 24px;
}

.project-page .header {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-page h1 {
  margin: 0 20px 0 0;
  text-align: left;
}

.project-page .emoji {
  display: flex;
  margin: 20px 20px 20px 0;
}

.project-page .content {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
}

.project-page .project-image {
  width: 98%;
  max-width: 300px;
  border: 3px solid var(--light-color);
  border-radius: 4px;
  margin: 8px 0 8px;
}

.viewport-container {
  padding: 60px 0;
}

a {
  color: var(--light-color);
}

a:visited {
  color: var(--light-color);
}

li {
  margin-top: 8px;
}

.row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 20px;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.cat {
  width: 37px;
  height: 37px;
  background: var(--dark-mode-cat) no-repeat;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cat,
.contact-icon,
.card {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.about {
  font-size: 20px;
  display: flex;
  color: var(--color-blue);
}

.about-card {
  text-align: center;
  width: 33.33%;
  padding: 20px;
  border-radius: 4px;
  background: linear-gradient(
    to bottom,
    var(--color-light-blue),
    var(--color-sea)
  );
}

.about-card:not(:last-child) {
  margin: 0 20px 0 0;
}

.about-card a {
  color: var(--color-blue);
}

.about-card-title {
  font-weight: bold;
  background: linear-gradient(
    var(--color-coral),
    var(--color-sand) 20% 80%,
    var(--color-coral)
  );
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 830px) {
  h1 {
    font-size: 60px;
  }

  .hero-image {
    width: 230px;
    height: 230px;
  }

  .about {
    flex-direction: column;
    height: auto;
    margin: 0 20px;
  }

  .about-card {
    width: auto;
  }

  .about-card:not(:last-child) {
    margin: 0 0 20px;
  }

  .card {
    width: calc(100vw * 0.75);
  }

  project-card:first-child {
    padding-left: 14px;
  }

  project-card:last-child {
    padding-right: 14px;
  }

  .projects {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 100px;
  }

  .card {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-top: 0px;
  }

  .placeholder {
    display: none;
  }

  .project-image {
    display: flex;
  }

  .project-page {
    padding: 30px 12px;
  }

  .project-page h1 {
    font-size: 40px;
    margin: 0 12px 0 0;
  }

  .project-page .emoji {
    margin: 12px 12px 12px 0;
    font-size: 40px;
  }
}

@media only screen and (min-width: 831px) {
  body {
    padding: 0 100px 100px;
    margin: auto;
  }

  @media (min-height: 620px) {
    .viewport-container {
      height: 100vh;
      padding: 0;
    }
  }

  a svg:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: 100;
    animation-timing-function: ease-in-out;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(5deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }

  .card:hover .title-wrapper {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  a:hover {
    text-decoration: none;
  }

  .emoji-sprinkle-button:hover {
    background: var(--dark-color);
    color: var(--light-color);
    border: 4px solid var(--light-color);
  }

  .projects {
    justify-content: center;
  }
}



