body {
  margin: 0 20px;
  padding-bottom: 100px;
  font-family: proxima-soft, sans-serif;
  font-weight: 200;
}

@media only screen and (min-width: 900px) {
  body {
    padding-left: 200px;
    padding-right: 200px
  }
}

.text {
  font-size: 18px
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 249px) {
  svg {
    margin-top: 10px;
  }
}

.email {
  background: url('./assets/contact/email.svg') no-repeat;
}
.github {
  background: url('./assets/contact/github.svg') no-repeat;
}
.linkedin {
  background: url('./assets/contact/linkedin.svg') no-repeat;
}

svg {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

svg:hover {
  animation-name: wiggle;
  animation-duration: 1s;
  animation-iteration-count: 100;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.accordion-symbol {
  font-size: 20px;
}

@media only screen and (min-width: 420px) {
  .accordion:hover {
    background-color: rgb(0, 204, 255);
  }
}

.active {
  background-color: rgb(0, 204, 255);
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 8px;
}

.project-image {
  width: 100%;
  max-width: 600px;
  margin-top: 18px;
  border: 3px solid black;
  border-radius: 8px;
}
