.about {
  font-size: 20px;
  display: flex;
  color: var(--color-blue);
}

.about-card {
  text-align: center;
  width: 33.33%;
  padding: 20px;
  border-radius: 4px;
  background: linear-gradient(
    to bottom,
    var(--color-light-blue),
    var(--color-sea)
  );
}

.about-card:not(:last-child) {
  margin: 0 20px 0 0;
}

.about-card a {
  color: var(--color-blue);
}

.about-card-title {
  font-weight: bold;
  background: linear-gradient(
    var(--color-coral),
    var(--color-sand) 20% 80%,
    var(--color-coral)
  );
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 8px;
}
