.about {
  font-size: 20px;
  display: flex;
  color: var(--color-blue);
  height: 220px;
}

.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33.33%;
  height: 100%;
  padding: 0 20px;
  border-radius: 4px;
  background: linear-gradient(to bottom, var(--color-light-blue), var(--color-sea));
}

.about-card:not(:last-child) {
  margin: 0 20px 0 0;
}

.about-card > div > a {
  color: var(--dark-color);
}
