.card {
  cursor: pointer;
  border: 4px solid var(--light-color);
  border-radius: 4px;
  outline: none;
  background-color: var(--dark-color);
  color: var(--light-color);
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  overflow-y: hidden;
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
  position: relative;
  box-shadow: 0 10px 5px -5px rgba(0,0,0,0.75);
}

.card.active {
  cursor: default;
}

.title-wrapper {
  border-bottom: 2px solid var(--light-color);
  background-color: var(--light-color);
  color: var(--dark-color);
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 2px 8px 0;
  height: 30px;
}

.content {
  text-align: left;
  font-size: 18px;
  margin: 0 8px;
  line-height: 1.4;
}

.project-image {
  width: 98%;
  max-width: 300px;
  border: 3px solid var(--light-color);
  border-radius: 4px;
  margin: 8px auto 8px;
}

.project-image.inline {
  max-width: 100px;
  height: 100px;
  float: right;
  margin-top: 18px;
  margin-left: 8px;
}

.project-image.circle {
  border-radius: 100%;
}

.fade {
  position: absolute;
  width: 100%;
  height: 70px;
  background: linear-gradient(rgba(255,255,255,0), var(--fade-light-color));
  top: 203px;
}

.active {
  margin: 20px auto;
  width: 50%;
  max-width: 680px;
  z-index: 3;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}

.modal .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-open {
  overflow-y: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
}

.active .close-button {
  display: inline-block;
}

.close-button {
  display: none;
  background: var(--coral-color);
  color: #FFF;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 0 0 3px 12px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.close-button:hover {
  box-shadow: none;
}

/* Everything below needed for the placeholders */

.placeholder {
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--light-color);
  border-radius: 4px;
  margin: 12px 12px 0 0;
}

project-card {
  margin: 12px 12px 0 0;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  overflow: hidden;
}

project-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  border-radius: 4px;
}

.no-after::after {
  display: none;
}

.no-after {
  height: 100%;
  overflow: initial;
}
