project-card {
  margin: 6px;
}

.card {
  cursor: pointer;
  background: linear-gradient(to right, var(--color-coral), var(--color-orange))
    border-box;
  border: 12px solid transparent;
  border-radius: 4px;
  outline: none;
  color: var(--light-color);
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  overflow-y: hidden;
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  position: relative;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.card:focus {
  background: var(--color-sea);
}

.title-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.emoji {
  font-size: 70px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 2px 12px 0;
  height: 30px;
}
