.contact {
  display: flex;
  flex-wrap: wrap;
}

a svg {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  fill: var(--light-color);
}

@media only screen and (max-width: 249px) {
  svg {
    margin-top: 10px;
  }
}
