@media only screen and (min-width: 831px) {
  body {
    padding: 0 100px 100px;
    margin: auto;
  }

  @media (min-height: 620px) {
    .viewport-container {
      height: 100vh;
      padding: 0;
    }
  }

  a svg:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: 100;
    animation-timing-function: ease-in-out;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(5deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }

  .card:hover:not(.active) .title-wrapper {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  a:hover {
    text-decoration: none;
  }

  .card.active .project-image {
    margin-right: 8px;
  }

  .emoji-sprinkle-button:hover {
    background: var(--dark-color);
    color: var(--light-color);
    border: 4px solid var(--light-color);
  }

  .projects {
    justify-content: center;
  }
}
