@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:root {
  --color-blue: #1D262F;
  --color-sand: #F9E0A7;
  --color-coral: #FF5370;
  --color-orange: #FFA500;
  --color-sea: #76B6C4;
  --color-light-blue: #DEF3F6;
  --dark-color: var(--color-blue);
  --light-color: var(--color-sand);
  --dark-mode-cat: url(../assets/dark-mode/sand-cat.svg);
  --light-mode-cat: url(../assets/dark-mode/ocean-cat.svg);
  --card-height: 280px;
  --card-width: 280px;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  font-weight: 200;
  background-color: var(--dark-color);
  color: var(--light-color);
  max-width: 1008px;
}
