@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

:root {
  --color-blue: #1d262f;
  --color-sand: #f9e0a7;
  --color-coral: #ff5370;
  --color-orange: #ffa500;
  --color-sea: #76b6c4;
  --color-light-blue: #def3f6;
  --dark-color: var(--color-blue);
  --light-color: var(--color-sand);
  --dark-mode-cat: url(../assets/dark-mode/sand-cat.svg);
  --light-mode-cat: url(../assets/dark-mode/ocean-cat.svg);
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  font-weight: 200;
  background-color: var(--dark-color);
  color: var(--light-color);
  max-width: 1008px;
}

code {
  border: 1px solid var(--color-sea);
  border-radius: 4px;
}
