:root {
  --dark-color: #1d262f;
  --light-color: #F9E0A7;
  --dark-mode-cat: url(../assets/dark-mode/yellow-cat.svg);
  --light-mode-cat: url(../assets/dark-mode/blue-cat.svg);
  --link-dark-color: #1d262f;
  --link-visited-dark-color: #1d262f;
  --link-light-color: #F9E0A7;
  --link-visited-light-color: #F9E0A7;
  --fade-light-color: #F9E0A7;
  --fade-dark-color: #1d262f;

  --card-height: 280px;
  --card-width: 280px;
}

body {
  margin: 0 20px;
  padding-bottom: 100px;
  font-family: proxima-soft, sans-serif;
  font-weight: 200;
  background-color: var(--dark-color);
  color: var(--light-color);
  max-width: 1008px;
}
