.section-header {
  user-select: none;
  margin: 0;
}

section-header {
  display: flex;
  height: 68px;
  align-items: center;
}

.header-wrapper:hover {
  text-decoration: none;
}

.section-header:hover > .link {
  display: inline-block;
}

.link {
  display: none;
  text-decoration: none;
  margin-left: 8px;
  font-size: 17px;
}
