a {
  color: var(--link-light-color);
}

a:visited {
  color: var(--link-visited-light-color);
}

li {
  margin-top: 8px;
}

.row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewport-container {
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 100px;
  text-align: center;
}

.cat {
  width: 37px;
  height: 37px;
  background: var(--dark-mode-cat) no-repeat;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cat, .contact-icon, .card {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
