@media only screen and (max-width: 830px) {
  h1 {
    font-size: 60px;
  }

  .hero-image {
    width: 230px;
    height: 230px;
  }

  .about {
    flex-direction: column;
    height: auto;
    margin: 0 20px;
  }

  .about-card {
    width: auto;
  }

  .about-card:not(:last-child) {
    margin: 0 0 20px;
  }

  .card {
    width: calc(100vw * 0.75);
  }

  project-card:first-child {
    padding-left: 14px;
  }

  project-card:last-child {
    padding-right: 14px;
  }

  .projects {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 100px;
  }

  .card {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-top: 0px;
  }

  .placeholder {
    display: none;
  }

  .project-image {
    display: flex;
  }

  .project-page {
    padding: 30px 12px;
  }

  .project-page h1 {
    font-size: 40px;
    margin: 0 12px 0 0;
  }

  .project-page .emoji {
    margin: 12px 12px 12px 0;
    width: 40px;
    height: 40px;
  }
}
