@media only screen and (max-width: 830px) {
  h1 {
    font-size: 60px;
  }

  .hero-image-container {
    width: 240px;
    height: 240px;
  }

  .hero-image-container > picture {
    height: 230px;
  }

  .hero-image {
    width: 230px;
    height: 230px;
  }

  .hero-circle {
    background-image: linear-gradient(var(--coral-color), var(--orange-color));
    width: 240px;
    height: 240px;
  }

  .about {
    flex-direction: column;
    height: auto;
    margin: 0 20px;
  }

  .about-card {
    width: auto;
    padding: 20px;
  }

  .about-card:not(:last-child) {
    margin: 0 0 20px;
  }

  project-card:first-child {
    padding-left: 0;
  }

  project-card:last-child {
    padding-right: 0;
  }

  .projects {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0 20px 100px;
  }

  .card {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-top: 0px;
  }

  .placeholder {
    display: none;
  }

  .project-image {
    display: flex;
  }

  .active {
    margin: 12px auto;
    width: 94%;
  }
}
