@media only screen and (max-width: 600px) {
  .projects {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .card {
    min-width: 85%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-top: 0px;
  }
}
