.projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.emoji-sprinkle-button {
  background: var(--light-color);
  color: var(--dark-color);
  display: inline-block;
  padding: 8px;
  border: 4px solid var(--light-color);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.emoji-sprinkle {
  z-index: 1;
}
